*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.total-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    width:375px;
    height: 696px;
    background-color: hsl(30, 38%, 92%);
    
}
.image{
    margin-top:26px;
    width:100%;
    margin-left:16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('images/image-product-mobile.jpg');
    height:238px;
    width:343px;
    background-position: center;
    background-size: cover;
    
  
}
.perfume-body{
    background-color: hsl(0, 0%, 100%);
    width: 343px;
    height:397px;
    margin-left:16px;
    margin-top:-3px;
    padding-left:25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 29px;
}
.perfume-head, .desc, s{
    font-family: 'Montserrat';
    font-size:18px;
    color:hsl(228, 12%, 48%);
}
.perfume-head{
    font-family: 'open sans';
    text-transform: uppercase;
    letter-spacing: 0.2cm;
    font-size:13px;
    padding-top:26px;
    padding-left:3px;
    padding-bottom: 19px;
}
.desc{
    font-size:15px;
    padding-bottom: 33px;
    width:300px;
}
h1{
    color:hsl(212, 21%, 14%);
    font-family: 'Fraunces';
    font-weight:700;
    font-size:28px;
    padding-bottom: 25px;
}
.price{
    display: flex;
    align-items: center;
    gap:19px;
    margin-bottom: 27px;
}
b{
    color:hsl(158, 36%, 37%);
    font-size:28px;
    font-family:'fraunces';
}
s{
    font-size:12px;

}
.cart{
    background-color: hsl(158, 36%, 37%);
    color:white;
    border:none;
    border-radius:10px;
    width:294px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat';
    font-weight: 700;
    cursor: pointer;
    height:47px;
    gap:10px;
    margin-bottom: 25px;
    transition: background-color 0.3s ease;
}
.cart button{
    background-color: hsl(158, 36%, 37%);
    color:white;
    border:none;
    border-radius:10px;
    transition: background-color 0.3s ease;
}
.cart:hover {
    background-color: hsl(158, 36%, 20%); 
}

.cart:hover button {
    background-color: hsl(158, 36%, 20%); 
}


/*-----media queries-------*/
@media (min-width:1440px) {
    .total-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .container{
        width:1440px;
        height: 800px;
        background-color: hsl(30, 38%, 92%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-body-desc{
        width: 598px;
        height:453px;
        display: flex;
        align-items: center;
        flex-direction:row;
        justify-content: center;
    }
    .container .image{
       background-position: center;
       background-size: cover;
       background-image: url('images/image-product-desktop.jpg');
       width:302px;
       height:449px;
       border-top-right-radius: 0px;
       border-bottom-right-radius: 0px;
    }
    .perfume-body{
        width:296px;
        height:449px;
        margin-top:52px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left:-0.8px;
        border-top-right-radius: 10px;
    }
    h1{
        font-size:30px;
        width:200px;
    }
    .desc{
        width:220px;
        font-size:13px;
        line-height: 0.5cm;
    }
    
.cart{
    background-color: hsl(158, 36%, 37%);
    color:white;
    border:none;
    border-radius:10px;
    width:232px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat';
    font-weight: 700;
    cursor: pointer;
    height:43px;
    gap:10px;
    margin-bottom: 25px;
    transition: background-color 0.3s ease;
}
.cart:hover {
    background-color: hsl(158, 36%, 20%); 
}

.cart:hover button {
    background-color: hsl(158, 36%, 20%); 
}

.cart button{
    background-color: hsl(158, 36%, 37%);
    color:white;
    border:none;
    border-radius:10px;
    transition: background-color 0.3s ease;
}

}